$maxZIndex : 2147483647;

.full-cover-bg {
  z-index    : $maxZIndex - 10;
  position   : absolute;
  top        : 0px;
  left       : 0px;
  bottom     : 0px;
  right      : 0px;
  text-align : center;
  background : rgba(255, 255, 255, 0.75);
  color      : #ffffff;

  .loading-container {
    margin-top : 15%;

    .txt{
      font-weight :600;
      margin-top: 14px;
      color: $primary-text-color;
    }
  }

}