/* Main Palette */
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


/* front porch (non-portal) pages */
$front-porch-background: #fafafa;
$front-porch-navbar-background: #fefefe;
$front-porch-navbar-border: #dadada;

$navbar-link: $secondary-text-color;
$navbar-link-active: $accent-color;
